In [5]:
import yfinance as yf
import pandas as pd
from datetime import date

In [6]:
START = "2015-01-01"
TODAY = date.today().strftime("%Y-%m-%d")

df = yf.download ('NVDA', START, TODAY)

[*********************100%***********************]  1 of 1 completed

In [10]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-28,128.119995,128.330002,122.639999,125.610001,125.610001,448101100
2024-08-29,121.360001,124.430000,116.709999,117.589996,117.589996,453023300
2024-08-30,119.529999,121.750000,117.220001,119.370003,119.370003,333751600
2024-09-03,116.010002,116.209999,107.290001,108.000000,108.000000,474040800
2024-09-04,105.410004,113.269997,104.120003,106.209999,106.209999,370960700